<script src="https://cdn.jsdelivr.net/npm/p5@1.0.0/lib/p5.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/p5@1.0.0/lib/addons/p5.sound.min.js"></script>
<script src="https://unpkg.com/ml5@0.4.3/dist/ml5.min.js"></script>


{{!-- MODALS --}}

<div class="modal fade" id="modalComprar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Comprar</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3 style="font-weight: 300;">Para pagar <b>${{prenda.price}}</b> por <b>{{prenda.name}}</b> puedes pasar a la caja 1</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalProbar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Probar</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3 style="font-weight: 300;">Para probarte <b>{{prenda.name}}</b> puedes pasar al probador 1</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{{!-- /MODALS --}}



<div class="app-container container">
    <div class="nombre-prenda-container">
        <br>
        <h3 class="nombre-prenda text-center" id="nombre-prenda">{{prenda.name}}</h3>
        <br>
    </div>

    <div class="form-inline justify-content-center">
        <h3 class="precio-prenda text-center px-3" id="precio-prenda">$ {{prenda.price}}</h3>
        <span class="badge badge-pill badge-info px-2">CH</span>
        <span class="badge badge-pill badge-info px-2">M</span>
        <span class="badge badge-pill badge-info px-2">G</span>
    </div>
    <br>

    <div class="card-deck">
        <div class="card card-body" id="card-1">
            <img src="{{prenda.colors.color1.CF}}" class="card-img-top container" alt="..." style="width: 70%;"
                id="prenda-1">
            <img src="{{prenda.colors.color1.SF}}" class="{{prenda.bodyPart}}" alt="..." style="width: 70%;"
                id="prenda-c1">

            <div class="py-2 mx-auto">
                <button type="" class="btn btn-primary btn-sm mx-auto" id="buscar-1">Seleccionar</button>
            </div>
            <br>
        </div>
        <div class="card card-body" id="card-2">
            <img src="{{prenda.colors.color2.CF}}" class="card-img-top container" alt="..." style="width: 70%;"
                id="prenda-2">
            <img src="{{prenda.colors.color2.SF}}" class="card-img-top container" alt="..." style="width: 70%;"
                id="prenda-c2">

            <div class="py-2 mx-auto">
                <button type="" class="btn btn-primary btn-sm mx-auto" id="buscar-2">Seleccionar</button>
            </div>
            <br>
        </div>
        <div class="card card-body" id="card-3">
            <img src="{{prenda.colors.color3.CF}}" class="card-img-top container" alt="..." style="width: 70%;"
                id="prenda-3">
            <img src="{{prenda.colors.color3.SF}}" class="card-img-top container" alt="..." style="width: 70%;"
                id="prenda-c3">

            <div class="py-2 mx-auto">
                <button type="" class="btn btn-primary btn-sm mx-auto" id="buscar-3">Seleccionar</button>
            </div>
            <br>
        </div>
    </div>
</div>

{{!-- SCRIPTS AR --}}
<script>
    let video;
    let poseNet;
    let pose;
    let img;
    let img1;
    let img2;
    let img3;

    bodyPart = document.getElementById('prenda-c1').className
    console.log(bodyPart)

    document.getElementById('prenda-c1').style.display = 'none';
    document.getElementById('prenda-c2').style.display = 'none';
    document.getElementById('prenda-c3').style.display = 'none';

    img1 = document.getElementById('prenda-c1').src;
    img2 = document.getElementById('prenda-c2').src;
    img3 = document.getElementById('prenda-c3').src;

    img = img1

    function preload() {
        img1 = loadImage(img1);
        img2 = loadImage(img2);
        img3 = loadImage(img3);
        img = loadImage(img)
    }

    var p1 = document.getElementById('buscar-1');
    var p2 = document.getElementById('buscar-2');
    var p3 = document.getElementById('buscar-3');

    p1.addEventListener("click", cargarPrenda1);
    p2.addEventListener("click", cargarPrenda2);
    p3.addEventListener("click", cargarPrenda3);

    function cargarPrenda1(){
        console.log('prenda 1');
        img = img1;
    }

    function cargarPrenda2(){
        console.log('prenda 2');
        img = img2;
    }

    function cargarPrenda3(){
        console.log('prenda 3');
        img = img3;
    }

    function setup() {
        var cnv = createCanvas(1080, 880);
        cnv.parent('sketch-holder');
        video = createCapture(VIDEO);
        video.hide();
        poseNet = ml5.poseNet(video, modelLoaded);
        poseNet.on('pose', gotPoses);
    }

    function gotPoses(poses){
        console.log(poses);
        if (poses.length > 0) {
            pose = poses[0].pose;
            skeleton = poses[0].skeleton;
        }
    }

    function modelLoaded(){
    console.log("PoseNet is ready");
}

    function draw(){
        image(video, 0, 0, 1080, 880);

        var deltaPixX = 20;
        var deltaPixY = 40;

        if (pose) {
            if(bodyPart == 'top'){
                console.log('es top')
                var hDerX = pose.rightShoulder.x - deltaPixX;
                var hDerY = pose.rightShoulder.y - deltaPixY;
                var hIzqX = pose.leftShoulder.x + deltaPixX;
                var ancho = hIzqX - hDerX;
                //var ancho = pose.leftShoulder.x - pose.rightShoulder.x;
                //var largo = pose.rightHip.y - pose.rightShoulder.y;

                image(img, hDerX*1.6, hDerY*1.6, [ancho*1.8]);
            }

            if(bodyPart == 'bottom'){
                console.log('Es bottom')
                var cadDerX = pose.rightHip.x - deltaPixX;
                var cadDerY = pose.rightHip.y - deltaPixY;
                var cadIzqX = pose.leftHip.x + deltaPixX;
                var ancho = cadIzqX - cadDerX;

                image(img, cadDerX, cadDerY, [ancho]);
            }
        }

}


    //function draw() {
        //image(video, 0, 0, 1080, 880);
        //image(img1, 1080 / 2, 880 / 2);
        //image(img2, 0, 0);
        //image(img, 250, 220);
    //}
</script>
<br>
<br>
<br>
<div class="container align-items-center justify-content-center">
    <div class="" id="sketch-holder">

    </div>
</div>

<div class="py-5 container">
    <div class="align-items-center justify-content-center form-inline">
        <div class="px-5">
            <a href="/search" class="btn btn-primary btn-sm mx-auto" >Regresar</a>
        </div>
        <div class="px-5">
            <button type="button" class="btn btn-primary btn-sm mx-auto" data-toggle="modal"
                data-target="#modalComprar">Comprar</button>
        </div>
        <div class="px-5">
            <button type="button" class="btn btn-primary btn-sm mx-auto" data-toggle="modal"
                data-target="#modalProbar">Probar</button>
        </div>
    </div>
</div>
<hr>

<div class="recomendaciones-container container">
    <div class="title-recomendaciones">
        <h3 class="text-center">También te recomendamos</h3>
        <br>
    </div>

    <div class="card-deck">
        <div class="card card-body" id="card-1">
            <img src="https://res.cloudinary.com/dpk1tokvy/image/upload/v1595655815/prendas/Imagen_14_b12vwc.png" class="card-img-top container" alt="..." style="width: 70%;"
                id="prenda-c1">
            <div class="py-2 mx-auto">
                <button type="" class="btn btn-primary btn-sm mx-auto" id="buscar-1">Seleccionar</button>
            </div>
            <br>
        </div>
        <div class="card card-body" id="card-2">
            <img src="https://res.cloudinary.com/dpk1tokvy/image/upload/v1595655873/prendas/Imagen_19_tftvco.png" class="card-img-top container" alt="..." style="width: 70%;"
                id="prenda-c2">
            <div class="py-2 mx-auto">
                <button type="" class="btn btn-primary btn-sm mx-auto" id="buscar-2">Seleccionar</button>
            </div>
            <br>
        </div>
        <div class="card card-body" id="card-3">
            <img src="https://res.cloudinary.com/dpk1tokvy/image/upload/v1595655892/prendas/Imagen_11_islzxz.png" class="card-img-top container" alt="..." style="width: 70%;"
                id="prenda-c3">
            <div class="py-2 mx-auto">
                <button type="" class="btn btn-primary btn-sm mx-auto" id="buscar-3">Seleccionar</button>
            </div>
            <br>
        </div>
    </div>
</div>

<br>
<br>
<br>
<hr>
<br>
